* {
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

h2 {
    color: orange;
}

.dropdown-menu .dropdown-item {
    width: 200px;
    white-space: normal;
}

.nuestra-historia{
    background-image: linear-gradient(to bottom, #ffffff, #d2c8ff, #a591fd, #7459f6, #2e12eb);
}